<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="SYS_Wetland_DBWrite" connectionString="data source=.;uid=sa;pwd=123456;" providerName="System.Data.SqlClient" />
    <add name="SYS_Wetland_DBReader" connectionString="data source=.;uid=sa;pwd=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SYS_Wetland_DB" value="SYS_Wetland_DB"/>
    <add key="SYS_Wetland_Rel" value="SYS_Wetland_Rel"/>
  </appSettings>
</configuration>